// Primary Colors
$primary-color: #012a25;

// Backgrounds
$bg-main: #ffffff;
$bg-secondary: #f7f5f5;
$bg-card: #ffffff;
$bg-light-green: #e5fbf8;

// Text Colors
$text-main: #212121;
$text-light: #999998;
$text-white: #ffffff;
$green: #2e7d76;
$ash-green: #3a5754;
$dark-green: #0a332f;

// Grays
$gray-light: #e5e7eb;
$gray-divider: #d9d8d8;

// Status Colors
$success-color: #28c76f;
$danger-color: #fc5e64;

// Borders and Radii
$border-color: $gray-divider;
$border-radius: 8px;

// Shadows
$box-shadow: 0 0 8px rgba(0, 0, 0, 0.08);

// Padding
$padding: 1rem;

$line-green: #a9f2e6;

// side bar
$sidebar-bg: #022b26;
$sidebar-text: #ffffff;
$sidebar-muted: #cbd5e1;
$sidebar-active-bg: rgba(255, 255, 255, 0.2);
$sidebar-hover-bg: rgba(255, 255, 255, 0.1);
$sidebar-border: #1e3a34;
